<h2>新人导览</h2>
<nz-tabset>
	<nz-tab nzTitle="新人导览">
		<h1>欢迎你</h1>
		<h3>每位入群后 我空下来会手动录入各位的 个人档案, 你稍后可以在左侧搜索框搜索自己的id 人鱼 或者找到对应profile文件目录下别人的个人档案 串串门. 下第一份订单后还会更新 你的订单页
			关于群昵称ID规定</h3>
		<h1>代购流程</h1>
		<h3>告知 #人鱼/tongyi 要买的商品 ➡ #人鱼/tongyi 购入 ➡ 等待自己的订单页更新图片 ➡ 提出自己想要的 发货方式 ➡ 等待到手

			日元标价的商品我要付多少钱（货款是多少） —— 本月汇率
			查看日本国内物流 —— 自己订单页更新了图片 = 到 #人鱼/tongyi 家了， 随时可以发货了
			查看国际物流 —— 在近期发货计划（未发出时） 或 发货log(已发出时)找到自己昵称的包裹
			查看国内物流 —— 默认不提供, 有需要的话和 #人鱼/tongyi 说一声
	
	所以东西到我手到底要花多少钱 —— 货款+（国际运费 +国内运费）
	如果你不想走一整套流程， 也可直接询问 #人鱼/tongyi 获取到手报价
	
	qq私聊消息可能会有屏蔽 可以群里直接找 tongyi, 或者添加为好友
	
	还有问题吗</h3>
	</nz-tab>
	<nz-tab nzTitle="付款说明">
		<span>本人没有微信 微信是通过转接，可以的话请优先支付宝</span>
		<br>
		<h2>原则上 <span style="color: red;">“次月10号之前” </span>结<span style="color: red;">上一个月</span>的账单 (举例——11月10日前是10月账单的最终付款期限),
			实际我有时会出现世俗所谓 “金無”的情况 ，届时可能会要求各位现结一下货款。 </h2>
		
	</nz-tab>
	<nz-tab nzTitle="支付宝">
		<img nz-image
			width="480px"
			height="640px"
			nzSrc="assets/images/20231007163508.png"
			alt="给钱！"
		/>
	</nz-tab>
	<nz-tab nzTitle="微信"></nz-tab>
	
</nz-tabset>
