<!-- NG-ZORRO -->

<nz-layout>
  
  <nz-sider>
    <img
    nz-image
      width="200px"
      height="200px"
      nzSrc="assets/images/oyasumi.ico"
      alt="oyasumi"
    />
    
    <ul nz-menu nzMode="inline">
      <li style="font-size: larger; font-weight: bold;">oyasumi</li>
      <li nz-submenu nzTitle="000" nzIcon="mail">

      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>Header</nz-header>
    <nz-content>
      Test
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
