:host {
    text-align: left;
}
nz-header,
nz-footer {
	background: #7dbcea;
	color: #fff;
}

nz-footer {
	line-height: 0.5;
}

nz-sider {
	background: #ffffff;
	color: #fff;
	line-height: 0.5;
	padding: 10px;
}

nz-layout {
	margin-bottom: 48px;
	height: 960px;
}

nz-layout nz-layout,
nz-layout:last-child {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}