<!-- NG-ZORRO -->

<nz-layout>
  <nz-sider [nzWidth]="240">
    <img nz-image
      nzSrc="assets/images/oyasumi.ico"
      alt="oyasumi"
    />
    <nz-switch 
      [(ngModel)]="dark"
      [nzCheckedChildren]="checkedTemplate"
      [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
    <ng-template #checkedTemplate><span nz-icon nzType="check"></span></ng-template>
    <ng-template #unCheckedTemplate><span nz-icon nzType="close"></span></ng-template>
    
    <br>
    <br>
    <h3><a [routerLink]="['/']">oyasumi(回首页)</a></h3>
    <br>
    <ul nz-menu nzMode="inline" [nzTheme]="dark ? 'dark' : 'light'" style="height: 600px; overflow: scroll; line-height: 1;">
      <li nz-submenu nzTitle="管理" [nzOpen]="true">
        <ul class="manage">
          <li nz-menu-item><a [routerLink]="['/', 'management', 'payment']">新人导览&付款</a></li>
          <li nz-menu-item>关于订单页</li>
          <li nz-menu-item>关于发货</li>
          <li nz-menu-item>关于机票</li>
          <li nz-menu-item>关于竞拍商品</li>
          <li nz-menu-item>关于群昵称ID规定</li>
          <li nz-menu-item>关于小型包装物</li>
          <li nz-menu-item>关于赠品</li>
          <li nz-menu-item>国际运费</li>
          <li nz-menu-item>汇率log</li>
          <li nz-menu-item>日本国内运费</li>
          <li nz-menu-item>国内运费</li>
          <li nz-menu-item>oyasumi</li>
        </ul>
      
      <li nz-menu-item>profile</li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>Header</nz-header>
    <nz-content>
      <router-outlet />
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>
